* {
	font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
	font-weight: 300;
}
.navbar-nav {
	text-transform: uppercase;
	font-size: 0.8em;
}
.nav-link {
	padding-right: 1rem!important;
   padding-left: 1rem!important;
}
.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}
.navbar{
	height: 95px;
}
.dropdown-item {
	font-size: 0.8em;
}
.card{
    width: 225px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
